#image-sticher{
    position: static;
    width: 100%;
    height: 500px;
    overflow: scroll;
}
#image-sticher-canvas{
    position: absolute;
    width: 10000px;
    height: 10000px;
}

#image-sticher-canvas img{
    position: absolute;
    width: 1401px;
    height: 586px;
}

#image-sticher-canvas img#one{
    top:10px;
    left:10px;
}

#image-sticher-canvas img#two{
    top:10px;
    left:10px;
    opacity: 0.5;
}
