*.afdesign filter=lfs diff=lfs merge=lfs -text
data-repos/iucnredlist/mandarinente.json filter=lfs diff=lfs merge=lfs -text
data-repos/iucnredlist/graureiher.json filter=lfs diff=lfs merge=lfs -text
data-repos/iucnredlist/wiedehopf.json filter=lfs diff=lfs merge=lfs -text
