*.afdesign filter=lfs diff=lfs merge=lfs -text
data/iucnredlist/mandarinente.json filter=lfs diff=lfs merge=lfs -text
data/iucnredlist/graureiher.json filter=lfs diff=lfs merge=lfs -text
data/iucnredlist/wiedehopf.json filter=lfs diff=lfs merge=lfs -text
